<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>STORE</h1>
    <form action="/search" method="post">
        Search <input type="text" name="txtSearch">
        <br>
        <input type="submit" value="Search">
    </form>
    <br>
    <table border="1px">
        <tr style="background-color: cornflowerblue;">
        <th>Name</th>
        <th>Price</th>
        <th>Amount</th>
        <th></th>
        </tr>

        <tr>
            <td>
            {{#each data}} <li style="list-style: none;">{{name}}</li> {{/each}}
            </td>
            <td>
            {{#each data}} <li style="list-style: none;">{{price}}</li>{{/each}}
            </td>
            <td>
            {{#each data}} <li style="list-style: none;">{{amount}}</li> {{/each}}
            </td>

            <td>
                {{#each data}} 
                <li style="list-style: none;"><a href="/delete?id={{_id}}">Delete</a></li> 
                {{/each}}
            </td>
        </tr>
    </table>
    <br>
<a href="/add">Add</a>

</body>
</html>